@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.card-flip {
  display: inline-block;
  height: 10rem;
  position: relative;
  perspective: 150rem;
  &__face {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 0.8s ease;

    &--back {
      transform: rotateY(180deg);
    }
  }
  &:hover &__face--front {
    transform: rotateY(-180deg);
  }
  &:hover &__face--back {
    transform: rotateY(0deg);
  }
}
