@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@mixin card-flip($height, $width, $delay) {
  display: inline-block;
  position: relative;
  perspective: 150rem;
  height: $height;

  &__face {
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
    backface-visibility: hidden;
    transition: all 1.5s ease $delay;
    overflow: hidden;

    &--back {
      transform: rotateY(180deg);
    }
  }
  &:hover &__face--front {
    transform: rotateY(-180deg);
  }
  &:hover &__face--back {
    transform: rotateY(0deg);
  }
}

.coin-flip {
  @include card-flip(11rem, 11rem, 0s);
}
.card-flip {
  @include card-flip(49.8rem, 100%, 0.9s);
}
