@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@mixin card-flip($height, $width, $delay) {
  display: inline-block;
  position: relative;
  perspective: 150rem;
  height: $height;

  &__face {
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
    backface-visibility: hidden;
    transition: all 0.2s ease-out 0s;
    overflow: hidden;

    &--back {
      transform: rotateY(180deg);
    }
  }
  &:hover &__face--front {
    transform: rotateY(-180deg);
    transition: all 0.4s ease-in $delay;
  }
  &:hover &__face--back {
    transform: rotateY(0deg);
    transition: all 0.4s ease-in $delay;
  }
}

.coin-flip {
  @include card-flip(11rem, 11rem, 0s);
}
.card-flip {
  @include card-flip(49.8rem, 100%, 0.8s);
}
.card-flip:hover .back-item__list li {
  opacity: 1;
  transform-origin: 0% 0% 0px;
  transform: rotateX(0deg);
}
.card-flip:hover .back-item__more {
  opacity: 1;
  transform-origin: 0% 0% 0px;
  transform: rotateX(0deg);
}

%swing-down {
  backface-visibility: hidden;
  animation-fill-mode: backwards;
  transform-origin: 50% 50% -10px;
  transform: rotateX(92deg);
  transition: transform 0.28s cubic-bezier(0.5, 1.5, 0.5, 1.5);
}

@mixin smoothDelay($numItems) {
  @for $i from 1 through $numItems {
    &:nth-child(#{$i}) {
      transition-delay: 1.3s+ ($i * (0.06s));
    }
  }
}
@mixin smoothDelaySingle($position) {
  transition-delay: 1.4s+ ($position * (0.06s));
}
.repo-1 li {
  @include smoothDelay(5);
}
// adding link "more" to smooth delay effect
.back-item__more--1 {
  @include smoothDelaySingle((6));
}
.repo-2 li {
  @include smoothDelay(4);
}
.back-item__more--2 {
  @include smoothDelaySingle((5));
}
.repo-3 li {
  @include smoothDelay(5);
}
.back-item__more--3 {
  @include smoothDelaySingle((6));
}
.repo-4 li {
  @include smoothDelay(6);
}
.back-item__more--4 {
  @include smoothDelaySingle((7));
}
