.l-flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
%grid-shared {
  display: grid;
  grid-gap: 1.6rem;
}
.grid-2 {
  @extend %grid-shared;
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  @extend %grid-shared;
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  @extend %grid-shared;
  grid-template-columns: repeat(4, 1fr);
}
