.container {
  max-width: $website-width;
  padding: 0 24px;
  margin: auto;
  overflow: hidden;
}
.bg {
  &-primary {
    background: $main-color;
    color: $dark-color;
  }

  &-light {
    background: $light-color;
    color: $dark-color;
  }
  &-dark {
    background: $dark-color;
    color: $light-color;
  }
}

//buttons
%btn-shared {
  display: inline-block;
  padding: 13px 32px;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }
  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $main-color;
  transition: all 0.2s;
}

.section-title {
  font-size: 3.2rem;
  display: block;
  padding-bottom: 0.8rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.line {
  background: $main-color;
  display: block;
  margin: 0 auto 1.6rem auto;
  height: 0.2rem;
  width: 4.8rem;
}

.lead {
  font-size: 2.1rem;
  margin-bottom: 4.8rem;
}
.strong {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  margin: 1rem 0;
}
.sub {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 800;
}

.text-center {
  text-align: center;
}

//type writer animation
.blinking-cursor {
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: #f4f4f4;
  }
  50% {
    color: transparent;
  }
}

.py {
  &-1 {
    padding: 1.6rem 0;
  }
  &-2 {
    padding: 3.2rem 0;
  }
  &-3 {
    padding: 4.8rem 0;
  }
  &-4 {
    padding: 6.4rem 0;
  }
}
%shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
